*{
  font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
  }

  .stick_it .sticky{
    padding: 5px 100px;

  }
.gambar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 2px solid #fff; 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  .gambar:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }

  .imagedesc{
    width: 200px;
    height: auto;

    transition: transform 0.3s ease-in-out, circle-shadow 0.3s ease-in-out;
  }

  .imagedesc:hover{
    transform: scale(1.1);

  }

  #text_moviesdesc {
    border-radius: 10px;
    max-width: 100rem;
  }

  .carousel-item {
    position: absolute;
    height: 32rem;
    background-image: url('https://images.pexels.com/photos/147411/italy-mountains-dawn-daybreak-147411.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    box-shadow: inset 0px -50px 200px 100px rgb(0, 0, 0);
    color: white;
  }
  
  .carousel-item h1 {
    font-size: clamp(5rem, 10rem + 10vw, 10rem);
    margin-top: 100px;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  
  @media (max-width: 768px) {
    .carousel-item h1 {
      font-size: clamp(3rem, 6rem + 6vw, 6rem);
    }
  }
  
  @media (max-width: 576px) {
    .carousel-item h1 {
      font-size: clamp(2rem, 4rem + 4vw, 4rem);
      margin-top: 50px;
    }
  }
  
  .deskripsi {
    background: linear-gradient(to bottom, #f0f0f0, #e0e0e0);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: left;
}

.deskripsi p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #333;
}


/* .custom-button {
  margin-top: 30px;
  background-color: #007BFF;
  color: #fff;
  font-size: 1.5rem;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer; 
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s, color 0.3s;
} */

.custom-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: #fff;
}

@media (max-width: 768px) {
  .custom-button {
      margin-top: 40px;
  }
}